div.content{
    position: relative;
    flex-flow: column wrap;
    display: flex;
    align-items: center;
    width: 100%;
}

li{
    font-size: large;
}

li.result:last-child{
    display: none;
}